@model Tpbc.Web.Areas.Admin.Models.MemberModel

@using (Html.BeginForm(routeValues: new { id = Model.UserName }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Member</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.EditorForModel()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Delete", "Delete", new { id = Model.UserName }) |
    @Html.ActionLink("Back to List", "Index")
</div>
